
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>@TempData["Message"]</h2>
    <h3>@TempData["Alert"]</h3>
</body>
</html>
