
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@TempData["Message"]</h2>
    <hr />

    @{
        TempData.Keep("Message");
    }

    <a asp-controller="Demo" asp-action="Details">View Details (TempDataDemo)</a>
</body>
</html>
