@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Message Page</h1>
<p>Hello Everyone, this is my first ASP.NET MYC application.</p>